:root {
    --color-primary: rgb(59, 59, 59);
    /*deklaracje zmiennych*/
    --color-secondary: rgb(39, 40, 46);
    --color-white: rgb(255, 255, 255);
    --color-blue: rgb(0, 119, 255);
    --color-black: rgb(0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-primary);
    color: var(--color-white);
}

.container {
    max-width: 1400px;
    margin: 0 auto
}

.container__header {
    background-color: var(--color-secondary);
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.container__content {
    padding-top: 78px;
    padding-left: 18px;
    padding-right: 18px;
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    gap: 18px;
    justify-content: space-evenly;
    /*1 fr bo wychodzimy z założenia first mobile*/
    grid-template-columns: 1fr;
    grid-auto-rows: 220px;
}

.container__content__item {
    /*flex-basis: 350px;
    usuwamy bo mamy to w mediaqueries:
    @media screen and (min-width: 768px){
    .container__content {
        grid-template-columns: repeat(2, minmax(230px, 350px));
    }
}*/
    /*height: 220px; - usuwamy wysokość bo w .container__content grid-auto-rows: 220px*/
    border-radius: 4px;
    background-color: var(--color-blue);
}

.container__content__image {
    height: 190px;
    width: 100%;
    background-image: url('./images/ocean.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 4px 4px 0 0;
}

.container__content__description {
    padding-top: 6px;
    text-align: center;
    font-size: small;
}

.container__header--avatar {
    border-radius: 50%;
    background-color: var(--color-blue);
    margin-right: 18px;
}

.container__menu {
    background-color: var(--color-secondary);
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    position: fixed;
    top: 0;
    left: -250px;
    transition: 0.5s ease-in-out;
}

.container__menu ul {
    padding: 0;
    list-style-type: none;
}

.container__menu ul li {
    padding: 5px 0;
}

.container__menu.open {
    left: 0px;
    transition: 0.5s ease-in-out;
}

a {
    color: inherit;
    text-decoration: none;
}

.container__hamburger {
    height: 24px;
    width: 24px;
    position: fixed;
    top: 18px;
    left: 18px;
    background-color: transparent;
    border: 0;
    border-bottom: 4px solid var(--color-white);
    transition: 0.5s ease-in-out;
}

.container__hamburger::before,
.container__hamburger::after {
    content: '';
    background-color: var(--color-white);
    width: 100%;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
}

.container__hamburger::before {
    top: 10px;
}

.container__hamburger.open {
    left: 268px;
    transition: 0.5s ease-in-out;
}

@media screen and (min-width: 576px) {
    .container__menu {
        left: 0;
        transition: none;
    }
    .container__hamburger {
        display: none;
    }
    .container__content {
        margin-left: 250px;
    }
}

@media screen and (min-width: 768px) {
    .container__content {
        grid-template-columns: repeat(2, minmax(230px, 350px));
    }
}

@media screen and (min-width: 1200px) {
    .container__content {
        grid-template-columns: repeat(3, minmax(230px, 350px));
    }
}